In [1]:
#Puxando API para df_bruto V2
import time
import requests
import pandas as pd
from tqdm import tqdm

ids = pd.read_excel('IDs.xlsx')
df_bruto = pd.DataFrame(columns=['id', 'json'])
pbar = tqdm(total=len(ids), position=0, leave=True)

for id in ids['entrada_id']:
    pbar.update()
    for attempt in range(5):  # Tenta até 5 vezes
        try:
            response = requests.get(f'https://api.seubone.com/layout/layouts/{id}')
            if response.status_code == 200:
                dados = response.json()
                df_bruto.loc[len(df_bruto)] = [id, dados]
                break
            else:
                print(f"Erro ao acessar o ID {id}: {response.status_code}")
        except requests.exceptions.RequestException as e:
            print(f"Erro na requisição para ID {id}: {e}")
            time.sleep(2 ** attempt)  # Espera exponencial antes de tentar novamente
        time.sleep(0.5)  # Adiciona um atraso de 0,5 segundos entre as requisições

display(df_bruto)
df_bruto.to_excel('df_bruto.xlsx',index=False)

100%|██████████| 149/149 [01:39<00:00,  1.68it/s]

        id                                               json
0    80784  {'id_entrada': 80790, 'id_layouts': 80784, 'no...
1    80615  {'id_entrada': 80621, 'id_layouts': 80615, 'no...
2    80614  {'id_entrada': 80620, 'id_layouts': 80614, 'no...
3    80616  {'id_entrada': 80622, 'id_layouts': 80616, 'no...
4    80701  {'id_entrada': 80707, 'id_layouts': 80701, 'no...
..     ...                                                ...
144  80781  {'id_entrada': 80787, 'id_layouts': 80781, 'no...
145  80657  {'id_entrada': 80663, 'id_layouts': 80657, 'no...
146  80782  {'id_entrada': 80788, 'id_layouts': 80782, 'no...
147  80692  {'id_entrada': 80698, 'id_layouts': 80692, 'no...
148  80676  {'id_entrada': 80682, 'id_layouts': 80676, 'no...

[149 rows x 2 columns]

In [2]:
#Criando df_clientes
df_clientes = pd.DataFrame(columns=['id_entrada','nome'])

for json in df_bruto['json']:
    id = json['id_entrada']
    nome = json['nome_cliente']
    df_clientes.loc[len(df_clientes)] = [id,nome]
    
display(df_clientes)

     id_entrada                                               nome
0         80790                                            Eduardo
1         80621                                         Lock Smith
2         80620                                    Rogerio saraiva
3         80622                                              Inara
4         80707                                           Anderson
..          ...                                                ...
144       80787  Diego Cabral  9510  +30Recompra  Com Logo (Out...
145       80663                                            Enttony
146       80788                                     Ricardo Coelho
147       80698                                          Micheline
148       80682  Leonardo  7787  +30 (Varejo de vestuário) (Par...

[149 rows x 2 columns]

In [3]:
#Criando df_vendas e df_vendas_sem_orcamento
df_vendas = pd.DataFrame(columns=['id_entrada','id_layouts_api','orcamento_id','cidade','layout_id','preco unitario','qtd','modelo'])
df_clientes = pd.DataFrame(columns=['id_entrada','nome','cnpj','razao_social','cidade'])
df_vendas_sem_orcamento = pd.DataFrame(columns=['id_entrada','cliente'])


for json in df_bruto['json']:
    id_entrada = json['id_entrada']
    nome = json['nome_cliente']
    if len(json['orcamentos']) != 0:        
        id_layouts = json['id_layouts']
        cidade = json['orcamentos']['cidade']
        cnpj = json['orcamentos']['cnpj']
        razaoSocial = json['orcamentos']['razaoSocial']
        df_clientes.loc[len(df_clientes)] = [id_entrada,nome,cnpj,razaoSocial,cidade]
        for x in range(len(json['orcamentos']['orcamento_skus'])):
            preco_descontado = (json['orcamentos']['orcamento_skus'][x]['preco_descontado'])
            quantidade = (json['orcamentos']['orcamento_skus'][x]['quantidade'])
            layout_id = (json['orcamentos']['orcamento_skus'][x]['layout_id'])
            orcamento_id = (json['orcamentos']['orcamento_skus'][x]['orcamento_id'])
            modelo  = (json['orcamentos']['orcamento_skus'][x]['produto'])
            modelo = modelo.split(",")[0]
            
            
            df_vendas.loc[len(df_vendas)] = [id_entrada,id_layouts,orcamento_id,cidade,layout_id,preco_descontado,quantidade,modelo] 
    else:
         df_clientes.loc[len(df_clientes)] = [id_entrada,nome,'','','']
    
        

display(df_vendas)
display(df_clientes)

,id_entrada,id_layouts_api,orcamento_id,cidade,layout_id,preco unitario,qtd,modelo
0,80707,80701,14479,Salvador,479135,33.9,0,Trucker
1,80707,80701,14479,Salvador,479136,29.9,0,Trucker
2,80707,80701,14479,Salvador,479294,29.9,50,Trucker
3,80708,80702,14478,Rio de Janeiro,479197,35.9,0,New York
4,80708,80702,14478,Rio de Janeiro,479198,35.9,0,New York
...,...,...,...,...,...,...,...,...
207,80787,80781,14516,orlandia,479821,31.9,25,Trucker
208,80787,80781,14516,orlandia,480306,39.9,0,Chapéu Agro
209,80787,80781,14516,orlandia,481065,31.9,0,Trucker
210,80787,80781,14516,orlandia,0,41.9,30,Chapéu Agro
211,80663,80657,16422,Parauapebas,478826,39.9,30,Trucker

,id_entrada,nome,cnpj,razao_social,cidade
0,80790,Eduardo,,,
1,80621,Lock Smith,,,
2,80620,Rogerio saraiva,,,
3,80622,Inara,,,
4,80707,Anderson,77937660597,Anderson Almeida,Salvador
...,...,...,...,...,...
144,80787,Diego Cabral 9510 +30Recompra Com Logo (Out...,46071987000136,BERTOTTO ENGENHARIA E ASSESSORIA RURAL LTDA,orlandia
145,80663,Enttony,54851637000110,Enttony Felipe Pereira Cavalcante,Parauapebas
146,80788,Ricardo Coelho,,,
147,80698,Micheline,,,
148,80682,Leonardo 7787 +30 (Varejo de vestuário) (Par...,,,

In [4]:
#Criando df_modelos

df_modelos = pd.DataFrame(columns=['id_modelo','modelo'])

for json in df_bruto['json']:
    for i in range(len(json['modelos'])):
        try:
            id = json['modelos'][i]['id']
        except KeyError:
            id = ""
        try:
            modelo = json['modelos'][i]['modelo']
        except KeyError:
            modelo = ""
        df_modelos.loc[len(df_modelos)] = [id,modelo]

display(df_modelos)

      id_modelo     modelo
0        479767    Trucker
1        479768    Trucker
2        479769    Trucker
3        479770  Americano
4        479771  Americano
...         ...        ...
1056     478866     Bucket
1057     478869     Bucket
1058     478870    Trucker
1059     478871    Trucker
1060     478909   New York

[1061 rows x 2 columns]

In [5]:
#criando view_vendas
view_vendas = df_vendas[:]
view_vendas = view_vendas.loc[view_vendas['qtd'] != 0]
view_vendas['valor_total'] = view_vendas['preco unitario'] * view_vendas['qtd']
view_vendas['modelo'] = view_vendas['modelo'].replace("Trucker LB - 100 a 299 unidades", "Trucker")
view_vendas = view_vendas.drop(columns=['cidade','id_layouts_api'])

display(view_vendas)

,id_entrada,orcamento_id,layout_id,preco unitario,qtd,modelo,valor_total
2,80707,14479,479294,29.9,50,Trucker,1495.0
5,80708,14478,45917,34.9,200,Dad Hat,6980.0
7,80624,14791,7,29.9,30,Trucker,897.0
17,80626,14976,2433,31.9,30,Modelo Sport,957.0
18,80628,14498,478775,24.9,150,Trucker,3735.0
31,80631,14607,478653,31.9,30,Trucker,957.0
46,80635,15128,760000000,32.9,50,Americano,1645.0
47,80635,15128,2147483647,31.9,50,Trucker,1595.0
48,80635,15128,1,16.9,3,Porta Longneck (355ml,50.7
52,80638,14735,0,35.9,30,New York,1077.0
53,80719,16258,532505,38.9,30,Dad Hat,1167.0
56,80724,14480,11,36.9,90,Dad Hat,3321.0
57,80724,14480,0,36.9,90,Dad Hat,3321.0
58,80724,14480,0,57.9,90,Pierside,5211.0
59,80726,14524,479316,40.9,30,Dad Hat,1227.0
60,80730,14483,479344,22.9,250,Trucker,5725.0
61,80730,14483,479345,22.9,250,Trucker,5725.0
62,80666,14471,4,29.9,30,Trucker,897.0
67,80669,14779,478744,29.9,30,Trucker,897.0
79,80677,14883,491348,33.9,30,Trucker,1017.0
80,80677,14883,491351,43.9,30,New York,1317.0
81,80736,14722,479370,29.9,30,Trucker,897.0
89,80685,14477,0,35.9,30,Trucker,1077.0
90,80685,14477,474,36.9,30,Americano,1107.0
91,80689,14679,920,29.9,30,Trucker,897.0
92,80744,15218,8387712,29.9,30,Trucker,897.0
93,80697,14492,479113,36.9,100,Chapéu Com e Sem Saia,3690.0
94,80745,14535,479643,24.9,100,Trucker,2490.0
98,80745,14535,479648,24.9,100,Trucker,2490.0
106,80699,14859,0,34.9,50,Dad Hat,1745.0
119,80747,14575,481518,22.9,100,Trucker,2290.0
121,80753,15482,479463,35.9,25,New York,897.5
122,80753,15482,506543,35.9,50,New York,1795.0
123,80753,15482,511082,38.9,25,Dad Hat,972.5
127,80665,14799,486992,37.9,150,New York,5685.0
128,80671,14514,478774,26.9,30,Viseira Sport,807.0
130,80765,14556,480301,31.9,30,Trucker,957.0
131,80676,14506,479366,35.9,50,New York,1795.0
135,80680,14470,478889,26.9,30,Viseira Sport,807.0
138,80768,14594,481646,37.9,32,Trucker,1212.8
149,80688,14611,480877,35.9,30,Trucker,1077.0
153,80769,15017,491795,32.9,50,Americano,1645.0
155,80770,14500,1,29.9,50,Trucker,1495.0
165,80696,14561,479297,36.9,30,Dad Hat,1107.0
170,80700,14484,479058,31.9,30,Trucker,957.0
182,80706,14489,482659,37.9,50,New York,1895.0
185,80630,14623,481376,29.9,30,Trucker,897.0
187,80786,15082,479763,26.9,25,Viseira,672.5
188,80786,15082,479764,26.9,25,Viseira,672.5
190,80786,15082,479766,30.9,25,Viseira,772.5
198,80786,15082,497174,39.9,25,New York,997.5
207,80787,14516,479821,31.9,25,Trucker,797.5
210,80787,14516,0,41.9,30,Chapéu Agro,1257.0
211,80663,16422,478826,39.9,30,Trucker,1197.0

In [6]:
#criando view_clientes
view_cliente = df_clientes[:]
view_cliente = view_cliente.loc[view_cliente['razao_social'] != ""]
display(view_cliente)

,id_entrada,nome,cnpj,razao_social,cidade
4,80707,Anderson,77937660597,Anderson Almeida,Salvador
6,80708,Luis 4062 (4),04121485000122,IGREJA BATISTA ATITUDE DA BARRA DA TIJUCA,Rio de Janeiro
7,80624,Daniela,17165982000174,Equilíbrio Dani Endócrino,Itajubá
9,80626,Paula Gasparini,33354695000169,Paula Rogina Gouvêa Gasparini,Vila Velha
11,80628,Fernanda 8014 REC,91332834353,Ezequiel Sisnando Xenofonte Neto,São Luís
13,80631,Jessica,34156867000152,JW comércio de móveis e decoração,Rio Bonito
15,80635,METALURGICA 4591 - Cadência inativo,73587404000105,METALÚRGICA RULENSKY LTDA ME,Blumenau
17,80638,Jairo Lucheta,51635699000105,LE TOUR INDOOR LTDA,Ribeirão Preto
26,80719,Vânia Mendes 5161 REC,39304681000117,A Igreja do Brasil,Juiz de Fora
34,80724,Anna Luisa 7264,39806720000184,PROMOVE ART BRINDES E COMUNICACAO EM TECIDOS LTDA,São Paulo
38,80726,4008 +30 (Vestuário) (Revender),19918853778,joão monteiro jordao,Macaé
42,80730,André - Compras GP Neiva,02425822000140,Mvc Editora LTDA,João Pessoa
43,80666,Diogo,,DIOGO,
45,80669,Ana Paula,55687989000145,Clube Atletico Ascurrense,Ascurra
51,80677,Dara,15249905000177,FELITA INDÚSTRIA E COMÉRCIO DE ALIMENTOS LTDA,Bom Jesus do Norte
54,80736,David Alves dos Santos 7789 -30 (Outros) (Pa...,08460508544,David Alves dos Santos,Aracaju
59,80685,Rao 3511 +30 (Açaí) (Equipe interna) - Açai ...,,AÇAI DO JOTA,
63,80689,Bruna,84948157000133,Junto Seguros Sa,Belo Horizonte
70,80744,Cândida,02541545142,Cândida Francisca de Oliveira,Vianópolis
71,80697,Andrea 0848 - RECOMPRA,28480599000127,DORICA RESINAS LTDA,Cachoeiro de Itapemirim
72,80745,Dania 6742,08223301000196,ANDRE'S COMERCIAL AGROPECUARIA LTDA,CHAPADAO DO SUL
73,80699,Leonardo Jesus Alves,07007475000159,Altera do Brasil serviço marítimos Ltda,Rio de Janeiro
76,80747,Mariana Alves,41689129816,MARIANA ALVES CHAGAS,São José do Rio Preto
86,80753,Rafael,43470094000175,FORMULA CAMINHOES LTDA,Lucas do Rio Verde
97,80665,Felipe Mateo 7358,46204026000152,Atours Produtora de Eventos LTDA,Porto Alegre
99,80671,Marcelo 🟣 Êxito Eventos - VISEIRA LARANJA (3),11335045000133,Êxito Projeçõese Eventos,João Pessoa
100,80765,Luciano Mota,17008064837,Luciano da Mota Silva,Itatiba
101,80676,Gorgurão,09278170000107,ASSOCIACAO DOS PARTICIPANTES DO COMPLEXO FAZEN...,PORTO FELIZ
103,80680,Lorena 3663 - PEQUOD,27580235000156,Pequod Assessor de Investimentos Ltda,Recife
106,80768,Tássio Sales 3381,02835927530,Tássio Sales Nascimento,Itabuna
107,80688,Gomes Advocacia - gomes prev,52494488000154,Rafael Gomes Neto & Cia Ltda,Alta Floresta
108,80769,rodrigo,28872363000136,Lts2 Corretora de Seguros LTDA,Pelotas
110,80770,Moik@s,06010950902,MOISÉS,Colombo
111,80696,Oswaldo 6103,52901973000103,HT TEXTIL LTDA,Florianópolis
113,80700,L.Felipe 0019 +30 (Vestuário) (Revender) - M...,06178520140,Luiz felipe Alves gomes,Rondonópolis
115,80706,Marina,,Marina,
117,80630,Cristyan pitol,03642984000100,PLC COMERCIO DE COMBUSTIVEIS LTDA,CLÁUDIA
142,80786,Priscila 1509 - ALEGRE'S,41348527000199,ALEGRE'S ARTIGOS DO VESTURARIO LTDA,Armação dos Búzios
144,80787,Diego Cabral 9510 +30Recompra Com Logo (Out...,46071987000136,BERTOTTO ENGENHARIA E ASSESSORIA RURAL LTDA,orlandia
145,80663,Enttony,54851637000110,Enttony Felipe Pereira Cavalcante,Parauapebas

In [7]:
#criando view_modelos

view_modelos = df_modelos[:]
view_modelos = view_modelos.drop_duplicates(subset=['id_modelo'])
display(view_modelos)

      id_modelo     modelo
0        479767    Trucker
1        479768    Trucker
2        479769    Trucker
3        479770  Americano
4        479771  Americano
...         ...        ...
1056     478866     Bucket
1057     478869     Bucket
1058     478870    Trucker
1059     478871    Trucker
1060     478909   New York

[1061 rows x 2 columns]

In [ ]:
view_total_vendas = view_vendas[:]
view_total_vendas = view_total_vendas[['id_entrada','valor_total']]
view_total_vendas = view_total_vendas.groupby('id_entrada').sum()
view_total_vendas['valor_total'].mean()

2429.05

In [ ]:
view_vendas.to_excel('view_vendas.xlsx',index=False)
view_cliente.to_excel('view_clientes.xlsx',index=False)
view_total_vendas.to_excel('view_total_vendas.xlsx')